# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
fyp_venv/

# Environment Variables (CRITICAL)
.env
.flaskenv

# IDE settings (Optional but recommended)
.vscode/
.idea/

#Package files (probably different for all)

React/digital-twin/package.json
React/digital-twin/package-lock.json

tracking-key.pem

mps_experiments/vids
mps_experiments/*.pt

3js_practice/projects_lab_2d/files/tracks_output_ang2_hour.csv

fyp_venv.zip

test_files/