# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
fyp_venv/

# Environment Variables (CRITICAL)
.env
.flaskenv

# IDE settings (Optional but recommended)
.vscode/
.idea/

tracking-key.pem