<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_new.css') }}">

    <title>HU Digital Twin - Login</title>
    
</head>
<body>
    <div class="tracker-ui login">
        <div class="row">
            <h1>Welcome To HU Digital Twin</h1>
        </div>
        {% if error %}
            <div class="row">
                <div class="error-message">{{ error }}</div>
            </div>
        {% endif %}
        
    <form method="POST">
        <div class="row">
            <label class="login-label font-size-1_2">ID/Email:</label>
            <input type="text" name="user_id" required class="login-input font-size-1_2"><br>
        </div>
        <div class="row font-size-1_2">
            <label class="login-label font-size-1_2">Password:</label>
            <input type="password" name="password" required class="login-input font-size-1_2"><br>
        </div>
        <div class="row">
            <button class="btn font-size-1_4" type="submit">Login</button>
        </div>
    </form>
</body>
</html>
