<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>HU Digital Twin - Facilities Dashboard</title>

  </head>
<body>

<body>
  <div class="main-nav">
    <div style="flex: 1;">
      <h1>HU Digital Twin </h1>
    </div>
    <div style="flex: 2;"> 
      <div style="display: flex; flex-direction: row; justify-content: space-evenly">
        <button class="header selected" onclick="window.location.href='/dashboard'">Home</button>
        <button class="header" onclick="window.location.href='/model'">Model</button>
        <button class="header" onclick="window.location.href='/'">Log Out</button>
      </div>
    </div>
  </div>
</body>
</html>

