<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <title>HU Digital Twin - Model</title>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
        }
      }
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='dat.gui.min.js') }}"></script>
  </head>

  <body>

    <header>
      <div style="flex: 1;">
        <h1>HU Digital Twin</h1>
      </div>
      <div style="flex: 2;"> 
        <div style="display: flex; flex-direction: row; justify-content: space-evenly">
          <button class="header" onclick="window.location.href='/facility_home'">Home</button>
          <button class="header selected" onclick="window.location.href='/model'">Model</button>
          <button class="header" onclick="window.location.href='/'">Log Out</button>
        </div>
      </div>
      
    </header>

    <div class="main">
      <div class="model">
        <div class="scroll" id="top-left">
          

          <div class="tracker-ui" style="margin-top: 20px;">
            <!-- Room Name -->
            <h3 class="row">
              <span>
                <span>📍</span>
                <span id="ui-room-name" class="bold">--</span>
              </span>
            </h3>
            
            <div class="content" id="ui-content">

              <!-- Room ID -->
              <div class="row">
                  <span id="ui-room-id">--</span>
                  <span id="ui-room-floor">--</span>
              </div>

              <!-- Time & Coordinates -->
              <div class="row">
                <span>
                  <span> 📅 </span>
                  <span id="ui-iot-date">??</span>
                </span>
                <span>
                  <span> ⏰ </span>
                  <span id="ui-iot-time" class="bold value">??</span>
                </span>
              </div>

              <div class="row border" id="occupancy">

                <span id="ui-iot-occu-header">Occupancy:</span>
                <span id="ui-iot-occupancy" class="bold value">Detecting...</span>

              </div>
          
              <div id="iot-data">
                <!-- Room Temperature -->
                <div class="row">
                  <span>
                    <span class="label"> 🌡️ Temperature:</span>
                    <span id="ui-iot-temp" class="bold">">??</span>
                  </span>
                </div>

                <!-- Room AC & Light State -->
                <div class="row">
                  <span>
                    <span class="label"> ❄️ AC State:</span>
                    <span id="ui-iot-ac" class="bold">--</span>
                  </span>

                  <span>
                    <span class="label"> 💡 Lights State:</span>
                    <span id="ui-iot-lights" class="bold">--</span>
                  </span>
                </div>
              </div>

              <!-- <div class="row">
                  <span class="label">Coordinates:</span>
                  <span id="ui-coords" class="bold value">??</span>
              </div> -->
            </div>
          </div> 

          <div class= "tracker-ui">
            <h3>Simulation Controls</h3> 

            <div class="content" id="sim-content">
            
            </div>
            
          </div>

          <div class="tracker-ui">

            <h3>Model Controls</h3> 

            <div class="content" id="ui-content">
              <div class="row">
                <span class="label">Zoom:</span>
                <span id="ui-room-name">Scroll Wheel/Pinch</span>
              </div>
              <div class="row">
                  <span class="label">Move:</span>
                  <span id="ui-room-id">Right Click & Pan</span>
              </div>

              <div class="row">
                  <span class="label">Rotate:</span>
                  <span id="ui-room-floor">Left Click & Pan</span>
              </div>

              <div class="border" id="cam-content">

              </div>
            </div>
            

          </div>

          <span id="role" style="display: none">
            {{ session.get('role', 'guest') }}
          </span>
        </div>


        <!-- <video class="tracker-ui" id="homeless" autoplay unmute src="./others/homeless.mp4" type="video/mp4">
        </video> -->

        <div id="model-container">
          <!-- <div class="tracker-ui row occupancy" id="occupancy">

            <span id="ui-iot-occu-header">Occupancy Count:</span>
            <span id="ui-iot-occupancy" class="bold value">Detecting...</span>

          </div> -->
          <div class="crosshair"></div>
        </div> <script type="module" src="{{ url_for('static', filename='model.js') }}"></script>
      </div>
    </div>

  </body>

</html>